@{
    ViewBag.Title = "Home Page";
}

    <link href="~/Content/StyleSheet2.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>FUNdraisers App</h1>
    <p class="lead">This app makes it easy to plan, run, and participate in auctions and raffles to raise funds for your cause!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Choose whether you would like to be a participant in an event, or manage an event of your own. Register as the correstponding user type and get started now!
        </p>
    </div>
</div>