@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FUNdraisers App</h1>
    <p class="lead">This app makes it easy to plan, run, and participate in auctions and raffles to raise funds!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Choose whether you would like to be a participant in an event, or manage an event of your own. Register as the correstponding user type and get started now!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>