body {
    background-image: url(raffle-tickets.jpg);
    background-size: 100%;
}

table, th, td {
    background-color: ghostwhite;
    border: 2px;
}

div{
    background-color: floralwhite;
    background-size: contain;
    opacity: 0.96;
}
