@model SilentAuction.Models.Auction
@{
    ViewBag.Title = "Continue";
}

<h2>Continue adding prizes?</h2>
<br />

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddItem", "Auction", new { id = Model.AuctionId })'">Yes, add another prize</button>

<br />
<br />

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Auction", new { id = Model.AuctionId })'">No more prizes for now</button>

